@page "/contactos"

<h3>Contactos</h3>

<NavLink class="btn btn-primary mb-3" href="contactos/nuevo">
    Crear Nuevo Contacto
</NavLink>

@if (CargandoDatos)
{
    <div>   
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        Cargando Contactos...   
    </div>
}
@if (ListaDeContactos.Count == 0)
{
    <div class="alert alert-info mt-3">
        Aun No Hay Contactos
    </div>
}
else
{
 <div class="table-responsive">
     <table class="table table-sm table-hover table-striped align-middle mb-0">
         <thead class="table-dark small">
             <tr>
                 <th>Id</th>
                 <th>Nombre</th>
                 <th>Telefono</th>
                 <th>Email</th>
                 <th></th>
             </tr>
         </thead>
         <tbody>
                 @foreach (var contacto in ListaDeContactos)
                {
                    <tr>
                        <td>@contacto.Id</td>
                        <td>@contacto.Nombre</td>
                        <td>@contacto.Telefono</td>
                        <td>@contacto.Email</td>
                        <td>
                 <NavLink class="btn btn-sm btn-secondary me-1">Editar</NavLink>
                 <button class="btn btn-sm btn-danger">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
     </table>
 </div>   
}